body { background: #96f40f; margin: 0; font-family: sans-serif; }
.cloud-dashboard { padding: 56px; display: flex; }
.block-helper-0 { color: #bb446; font-size: 20px; margin-bottom: 5px; }
.block-database-1 { color: #d02904; font-size: 19px; margin-bottom: 5px; }
.block-helper-2 { color: #834556; font-size: 14px; margin-bottom: 5px; }
.block-router-3 { color: #6cc947; font-size: 12px; margin-bottom: 5px; }
.block-order-4 { color: #7c8502; font-size: 21px; margin-bottom: 5px; }